BraveSoftware
autostart
cef_user_data
dconf
dleyna-render-service.conf
dleyna-server-service.conf
dwave
evolution
goa-1.0
gtk-2.0
gtk-3.0
gtk-4.0
guake
i3
ibus
kde.org
libfm
menus
libvirtd
matplotlib
mimeapps.list
monitors.xml 
monitors.xml~
nautilus
whatsapp-for-linux
VirtualBox
