[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/simone/Desktop/steam.desktop]
row=4
col=17

[f5cd8424-666a-4d08-b052-31c96645448d]
row=2
col=17

[Wastebasket]
row=3
col=17

[/]
row=0
col=17

[/home/simone]
row=1
col=17

