[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/simone/Desktop/steam.desktop]
row=4
col=17

[/home/simone/Desktop/The Witcher 3 Wild Hunt.desktop]
row=5
col=17

[0AC87CF4C87CDF7F]
row=2
col=17

[Trash]
row=3
col=17

[/]
row=0
col=17

[/home/simone]
row=1
col=17

