[Desktop Entry]
Version=1.0
Type=Application
Name=launcher
Comment=synopse
Exec=synapse
Icon=folder-saved-search
Path=
Terminal=false
StartupNotify=false
